chatterbot
git+https://github.com/gunthercox/chatterbot-corpus.git#egg=chatterbot-corpus
Flask
Jinja2
MarkupSafe
Werkzeug
click
gunicorn
itsdangerous
requests
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz