chatterbot
git+https://github.com/gunthercox/chatterbot-corpus.git#egg=chatterbot-corpus
Flask
Jinja2
MarkupSafe
Werkzeug
click
gunicorn==19.6.0
itsdangerous
requests
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.0.0/en_core_web_md-2.0.0.tar.gz#egg=en_core_web_md==2.0.0